@font-face {
    font-family: News;
    src: url(../fonts/NewspaperCutoutWhiteOnBlac-Rg.ttf);
}

@font-face{
    font-family: BCN;
    src: url(../fonts/BCN\ Nightmare\ Club.otf);
}

@font-face {
    font-family: EightyEight;
    src: url(../fonts/Eighty-Eight.otf);
}

#app{
    height: 100%;
}
html{
    height: 100%;
}
header{
    font-size: 40px;
    font-family: EightyEight;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align:center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: BCN;
    font-size: 10px;
    text-align: center;
    
    
}

html{
    background: #282a31;
    color: #c6f8ff;
}

html, body{
    height: 100%;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

h1{
    font-family: News;
}

p{
    font-family: BCN;
}

/*here end all things */

